{% extends 'base.html.twig' %}
{% block body %}
<h1> Bienvenue sur mon site</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit
    . Earum blanditiis voluptatibus aspernatur quasi excepturi commodi est rerum consectetur
 voluptatem aliquid incidunt voluptates, omnis, assumenda eum cumque non obcaecati quaerat! Laboriosam? 
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quas, culpa modi dolore numquam
  repellendus maxime cum? Molestias laborum eligendi quae accusamus voluptatum, officia, 
  harum veritatis porro ipsa eaque maiores.
</p>

{% endblock %}